@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", "sans-serif";
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto";
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* utility class */
.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  padding: 15px 30px;
  color: white;
}

.container {
  width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}

.top-banner {
  background-image: url("./images/asset\ 32.png");
  background-color: #4fb3d4;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-links ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 40px;
}

.company-logo img {
  width: 200px;
}

.nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav-links {
  display: flex;
  flex-basis: 730px;
}

.hover-links {
  color: var(--primary-text-color);
}

.hover-links:hover {
  color: var(--accent-color);
  transition: 0.2s ease-out;
}

ul li .sign-in {
  font-weight: 700;
  padding: 10px 25px;
  border: 1px solid #b9cde4;
  border-radius: 6%;
}

ul li .sign-in:hover {
  border: var(--accent-color) 1px solid;
  transition: 0.2s ease-out;
}

ul li .sign-up {
  font-weight: 700;
  padding: 10px 25px;
  color: white;
  background-color: #2294ed;
  border-radius: 6%;
}

ul li .sign-up:hover {
  background-color: #1d69a3;
  color: white;
  transition: 0.2s ease-out;
}

.header {
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.text a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2294ed;
  color: white;
  font-weight: 700;
  height: 45px;
  width: 150px;
  border-radius: 6%;
}

.text a:hover {
  background-color: #1d69a3;
  transition: 0.2s ease-out;
}

.image img {
  width: 586px;
  height: 429px;
}

.worlds-best-companies-text {
  display: flex;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 30px;
}

.companies-section {
  display: flex;
  justify-content: space-between;
}

.companies-section img {
  height: 45px;
  object-fit: contain;
}

.featured-section {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
}

.swiss-knife-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-section .featured1 {
  margin: 50px;
  display: flex;
  justify-content: space-around;
}

.featured-section .featured2 {
  display: flex;
  justify-content: space-around;
}

.featured-section div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.featured-section img {
  width: 40px;
  height: 40px;
}

.featured-section a img {
  width: 15px;
  height: 15px;
}

.featured-section a {
  border: 1px solid #b9cde4;
  color: black;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 6%;
}

.featured-section a:hover {
  border: #2294ed 1px solid;
  color: #2294ed;
  transition: 0.2s ease-out;
}

.picture-text-2 {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

.picture-text-2 .image2 img {
  width: 575px;
  height: 510px;
}

.photo-text-div {
  display: flex;
  gap: 30px;
  align-items: center;
}

.photo-text-div img {
  width: 50px;
  height: 50px;
}

.photo-text-div .text-divv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.picture-text-2 .text-2 {
  gap: 20px;
}
