@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", "sans-serif";
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto";
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* utility class */
.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  padding: 15px 30px;
  color: white;
}

.container {
  width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}

.top-banner {
  background-image: url("./images/asset\ 32.png");
  background-color: #4fb3d4;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-links ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 40px;
}

.company-logo img {
  width: 200px;
}

.nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav-links {
  display: flex;
  flex-basis: 730px;
}

.hover-links {
  color: var(--primary-text-color);
}

.hover-links:hover {
  color: var(--accent-color);
  transition: 0.2s ease-out;
}

ul li .sign-in {
  font-weight: 700;
  padding: 10px 25px;
  border: 1px solid #b9cde4;
  border-radius: 6%;
}

ul li .sign-in:hover {
  border: var(--accent-color) 1px solid;
  transition: 0.2s ease-out;
}

ul li .sign-up {
  font-weight: 700;
  padding: 10px 25px;
  color: white;
  background-color: #2294ed;
  border-radius: 6%;
}

ul li .sign-up:hover {
  background-color: #1d69a3;
  color: white;
  transition: 0.2s ease-out;
}

.header {
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.text a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2294ed;
  color: white;
  font-weight: 700;
  height: 45px;
  width: 150px;
  border-radius: 6%;
}

.text a:hover {
  background-color: #1d69a3;
  transition: 0.2s ease-out;
}

.image img {
  width: 586px;
  height: 429px;
}

.worlds-best-companies-text {
  display: flex;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 30px;
}

.companies-section {
  display: flex;
  justify-content: space-between;
}

.companies-section img {
  height: 45px;
  object-fit: contain;
}

.featured-section {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
}

.swiss-knife-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-section .featured1 {
  margin: 50px;
  display: flex;
  justify-content: space-around;
}

.featured-section .featured2 {
  display: flex;
  justify-content: space-around;
}

.featured-section div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.featured-section img {
  width: 40px;
  height: 40px;
}

.featured-section a img {
  width: 15px;
  height: 15px;
}

.featured-section a {
  border: 1px solid #b9cde4;
  color: black;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 6%;
}

.featured-section a:hover {
  border: #2294ed 1px solid;
  color: #2294ed;
  transition: 0.2s ease-out;
}

.picture-text-2 {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

.picture-text-2 .image2 img {
  width: 575px;
  height: 510px;
}

.photo-text-div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.photo-text-div img {
  width: 50px;
  height: 50px;
}

.photo-text-div .text-divv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.picture-text-2 .text-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.upper-div {
  font-weight: 700;
}

.picture-text-3 {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

.ladka-image {
  width: 550px;
  height: 520px;
}

.phillips {
  width: 100px;
  object-fit: contain;
}

.picture-text-3 .text3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.van-de-ven {
  width: 50px;
  height: 50px;
}

.photo-text-div-3 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rick-van {
  font-weight: 700;
}

.picture-text-4 {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

.ladka-image-2 {
  height: 550px;
  width: 500px;
}

.economist-group-img {
  width: 116px;
}

.ron-dario-img {
  width: 50px;
  height: 50px;
}

.text4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photo-text-div-4 {
  display: flex;
  gap: 20px;
}
.ron {
  font-weight: 700;
}

.z {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.see-more-examples {
  position: absolute;
  left: 44%;
  border: 1px solid #b9cde4;
  color: black;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 6%;
}

.see-more-examples:hover {
  border: #2294ed 1px solid;
  color: #2294ed;
  transition: 0.2s ease-out;
}

.four-images {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.four-images div img {
  width: 250px;
  object-fit: contain;
}

.four-images div img:hover {
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.2);
  transition: 0.3s ease-out;
}

.four-images div {
  position: relative;
}

.image-1-text {
  position: absolute;
  bottom: 30%;
  left: 10%;
}

.image-2-text {
  position: absolute;
  bottom: 30%;
  left: 10%;
}

.image-3-text {
  position: absolute;
  bottom: 30%;
  left: 10%;
}

.image-4-text {
  position: absolute;
  bottom: 30%;
  left: 10%;
}
.four-images div div {
  color: white;
  font-weight: 800;
}

.blue-box {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #183b56;
  color: white;
}

.blue-box-img {
  height: 600px;
  width: 750px;
  padding-right: 100px;
}

.heading {
  padding-top: 50px;
  padding-left: 185px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  display: flex;
  justify-content: space-between;
}

.blue-box-a {
  width: 160px;
  color: black;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 6%;
  color: white;
  background-color: #2294ed;
}

.blue-box-a:hover {
  background-color: #1d69a3;
  transition: 0.2s ease-out;
}

.noob {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.noob2 {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.noob3 {
  color: white !important;
  margin-top: 30px;
  position: absolute;
  left: 45%;
  width: 160px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 6%;
  background-color: #2294ed;
}

.noob3:hover {
  background-color: #1d69a3;
  transition: 0.2s ease-out;
}
